html{
    background-image: url(monedas\ change.webp);
}

body{
    background-color: rgba(30, 0, 0, 0.9);;
    display: flex;
    flex-direction: column;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    align-items: center;
    border: 1px solid rgb(79, 79, 189);
    color: white;
}
input{
    text-align: center;
    
}
select option div{
    align-content: center;
    align-items: center;

}
div{
    align-items: center;
    color:white
}
select{
    color: blue;
}