

span{
    display: flex;
    
    
}

body{
 
    margin: 0;
    padding: 0;
}

#imagen{
    
    height: 600px;
    width: 1600px;
   
}

span p{
    position: absolute;
    text-align: center;
    justify-content: center;
    margin-top: 20%;
    text-align: center;
    border: 1px solid black;
    width: 45px;
    height: 30px; 
    background-color: rgb(0, 0, 0, 0.30);
    box-shadow: 0 0 5px 10px rgba(17, 17, 16, 0.5);
    cursor: pointer;
}
span p:hover{
    box-shadow: 0 0 5px 15px rgba(185, 196, 30, 0.2);

}
audio{
    position: absolute;
}

#uno{
    color: white;
    font-size: 20px;
    margin-left: 170px;
    padding: 15px 30px 15px 15px;
}
#dos{
    color: white;
    font-size: 20px;
    margin-left: 280px;
    padding: 15px 30px 15px 15px;
}
#tres{
    color: white;
    font-size: 20px;
    margin-left: 390px;
    padding: 15px 30px 15px 15px;
}
#cuatro{
    color: white;
    font-size: 20px;
    margin-left: 500px;
    padding: 15px 30px 15px 15px;
}
#cinco{
    color: white;
    font-size: 20px;
    margin-left: 610px;
    padding: 15px 30px 15px 15px;
}
#seis{
    color: white;
    font-size: 20px;
    margin-left: 720px;
    padding: 15px 30px 15px 15px;
}
#siete{
    color: white;
    font-size: 20px;
    margin-left: 830px;
    padding: 15px 30px 15px 15px;
}
#ocho{
    color: white;
    font-size: 20px;
    margin-left: 940px;
    padding: 15px 30px 15px 15px;
}
#nueve{
    color: white;
    font-size: 20px;
    margin-left: 1050px;
    padding: 15px 30px 15px 15px;
}
